.container {
    width: 100%;
}

#balances .balance {
    float: none;
}

.tabs .active a {
    color: #eda821;
}

.menu li {
    cursor: pointer;
}

.help.inline {
    display: inline-block;
}

option {
    color: #000;
}

input[type="checkbox"] + label {
    cursor: pointer;
    padding: 8px 5px 0 30px;
    position: relative;
    color: #ffffff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3f2e0a;
    margin: 1em 0;
    padding: 0;
    color: #3f2e0a;
}

.heading-selected {
    cursor: default;
    color: white;
}

.heading-deselected {
    cursor: pointer;
    color: #aaa;
}

/* Quick View
------------------------------------
*/
.quickview-wrapper {
    position: fixed;
    right: -285px;
    top: 0;
    width: 285px;
    background: rgba(0, 0, 0, 0.96);
    bottom: 0;
    z-index: 1000;
    box-LEOcoin: 0 0 9px rgba(191, 191, 191, 0.36);

    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.quickview-wrapper.open {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -ms-transform: translate(-100%, 0);
}

.quickview-wrapper .quickview-toggle {
    position: absolute;
    right: 12px;
    top: 9px;
    color: #fff;
    padding: 6px;
    opacity: 0.4;
}

.quickview-wrapper .quickview-toggle:hover {
    opacity: 1;
}

.quickview-wrapper .nav-tabs ~ .tab-content {
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    height: auto;
}

.quickview-wrapper .nav-tabs ~ .tab-content > div {
    height: 100%;
}

.quickview-wrapper .nav-tabs ~ .tab-content ul {
    margin: 0;
    padding: 0;
}

.quickview-wrapper .nav-tabs ~ .tab-content ul li {
    list-style: none;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes {
    /* Quickview Notes */
    background: #fff;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes a,
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes button {
    color: #000;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list {
    position: relative;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar {
    height: 50px;
    padding: 0 25px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul {
    margin-top: 10px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li {
    display: inline-block;
    height: auto;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li a {
    height: 22px;
    line-height: 22px;
    display: block;
    padding: 0 5px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li a:hover,
.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar ul > li a.selected {
    background: #968974;
    color: #FBF9E3;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list .toolbar .btn-remove-notes {
    background: transparent;
    bottom: 8px;
    display: block;
    left: 50%;
    margin-left: -40%;
    position: absolute;
    width: 83%;
    border: 1px solid #968974;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul {
    padding: 0;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li {
    cursor: pointer;
    height: 42px;
    padding: 0 25px;
    display: block;
    clear: both;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left {
    float: left;
    width: 65%;
    height: 100%;
    padding-top: 9px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left .checkbox {
    display: none;
    float: left;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left .checkbox label {
    margin-right: 0;
    vertical-align: text-top;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .left p {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: inline-block;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .right {
    font-size: 10.5px;
    text-align: right;
    width: 35%;
    line-height: 41px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li .right .date {
    margin-right: 10px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .list > ul li:hover {
    background: #f4ecd1;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note {
    /* Quickview Note */
    background-repeat: repeat-y;
    background-position: 27px top;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note > div {
    display: table;
    height: 100%;
    width: 100%;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar {
    background: #fcfcfa;
    height: 55px;
    width: 100%;
    display: table-row;
    box-LEOcoin: 0 1px 1px -1px rgba(0, 0, 0, 0.33);
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li {
    display: inline-block;
    border-right: 1px solid #EDECEC;
    float: left;
    line-height: 55px;
    padding: 0;
    text-align: center;
    width: 55px;
    height: auto;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li > a {
    color: #a5a5a5;
    display: block;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li > a:hover {
    background: #fffaf6;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar > li > a.active {
    color: #333;
    background: #f9f1ea;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .toolbar:after {
    position: absolute;
    content: "";
    width: 100%;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body {
    display: table-row;
    height: 100%;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body > div {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 20px 0 45px;
    white-space: normal;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .top {
    height: 50px;
    display: table-row;
    clear: both;
    line-height: 50px;
    text-align: center;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .top > a {
    float: left;
    color: #b0b0a8;
    margin-left: 10px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .top > span {
    font-style: italic;
    color: #b0b0a8;
    font-size: 11px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content {
    display: table-row;
    height: 100%;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content form {
    height: 100%;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor {
    font-size: 12px;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor:focus {
    outline: none;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor::-moz-selection {
    background: #fef8ae;
}

.quickview-wrapper .nav-tabs ~ .tab-content .quickview-notes .note .body .content .quick-note-editor::selection {
    background: #fef8ae;
}

.quickview-wrapper .tabs li {
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
}

.quickview-wrapper .section {
    margin-top: 0;
}

#tooltip {
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border: 1px solid #8a8687;
    color: #8a8687;
    font-size: 12px;
}

.article {
    display: none
}

.modal h2 {
    border-bottom: 1px solid #eda821;
    margin: -10px -20px;
    padding: 0px 10px 10px 10px;
}

.avatar {
    cursor: pointer;
}

.chat-history-item .delete {
    top: -5px;
    color: rgba(125, 125, 125, 0.7);
    cursor: pointer;
    position: relative;
    display: none;
}

.chat-history-item.me .delete {
    position: absolute;
    right: -30px;
    top: 8px;
    width: 40px;
    text-align: center;
}

.chat-history-item.user .delete {
    position: absolute;
    left: -30px;
    top: 8px;
    width: 40px;
    text-align: center;
}

.chat-history-item.user .delete {
    margin-right: 10px;
    float: right;
}

.article-title input,
.article-title select {
    width: 190px;
}

.green-circle {
    color: darkgreen;
}

.red-circle {
    color: darkred;
}

.form-row.textarea label {
    vertical-align: top;
    margin-top: 10px;
}

.pagination.pager {
    color: white;
    text-align: center;

}

.pagination.pager a {
    display: inline-block;
}

.btn-group .btn {
    margin-right: 0;
    min-width: 0;
    width: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination.pager.hide-if-no-paging {
    display: none;
}

.pagination.pager {
    cursor: default;
}

.pagination.pager .active a {
    color: #eda821;
    cursor: pointer;
}

.pagination.pager .disabled a {
    color: #8a8687;
    cursor: default;
}

.pagination.pager li {
    display: inline-block;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.pagination.pager a {
    color: white;
    font-size: 15px;
    border: 1px solid rgba(125, 125, 125, 0.5);
    padding: 5px;
    text-align: center;
    min-width: 20px;
    background-color: black;
}

#transaction-info a, .yellow a {
    color: #eda821;
}

#transaction-info a:hover, .yellow a:hover {
    text-decoration: underline;
}

.footable.table .selected {
    background-color: rgba(255, 255, 255, 0.1);
}

/*------------------------------------------------------------------
[Icons]
*/

.staking {
    background: url('../icons/staking.png');
    height: 16px;
    width: 26px;
}

.not-staking {
    background: url('../icons/staking_off.png');
    height: 16px;
    width: 26px;
}

.encryption {
    background: url('../icons/lock.png');
    height: 16px;
    width: 26px;
}

.no-encryption {
    background: url('../icons/lock_off.png');
    height: 16px;
    width: 26px;
}

.encryption-stake {
    background: url('../icons/lock_stake.png');
    height: 16px;
    width: 26px;
}

.i2p {
    height: 16px;
    width: 26px;
}

.no-i2p {
    height: 16px;
    width: 26px;
    display: none
}

.tor {
    height: 16px;
    width: 26px;
}

.no-tor {
    height: 16px;
    width: 26px;
    display: none
}

.connect-0 {
    background: url('../icons/connect_0.png');
    height: 16px;
    width: 26px;
}

.connect-1 {
    background: url('../icons/connect_1.png');
    height: 16px;
    width: 26px;
}

.connect-2 {
    background: url('../icons/connect_2.png');
    height: 16px;
    width: 26px;
}

.connect-3 {
    background: url('../icons/connect_3.png');
    height: 16px;
    width: 26px;
}

.connect-4 {
    background: url('../icons/connect_4.png');
    height: 16px;
    width: 26px;
}

.connect-5 {
    background: url('../icons/connect_5.png');
    height: 16px;
    width: 26px;
}

.connect-6 {
    background: url('../icons/connect_6.png');
    height: 16px;
    width: 26px;
}

.no-syncing {
    background: url('../icons/synced.png');
    height: 16px;
    width: 26px;
}

.syncing-spinner {
    background: url('../icons/syncing.gif');
    height: 16px;
    width: 16px;
}

.chat-icon {
    background: url('../icons/chat_bubble.png');
    height: 16px;
    width: 26px;
}

.none {
    display: none;
}

.quick bar-item .none {
    display: none;
}

#quickview .section a {
    color: white;
}

#quickview .section a:hover {
    color: #eda821;
    text-decoration: underline;
}

.select-inputs {
    text-decoration: underline;
    color: white;
}

.select-inputs:hover {
    color: #eda821;
    text-decoration: underline;
}

.mobile-glass {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.mobile-glass.hide {
    display: none;
}

.mobile-glass.show {
    display: block;
}

.menu .sub-menu .none li {
    display: none;
}

.chatroom .details {
    font-size: 0.9rem;
}

.article h1 {
    font-size: 1.2rem;
    font-size: 12px;

}


@media only screen and (min-width: 500px) {
    .article h1 {
        font-size: 2.0rem;
        font-size: 20px;

    }
}
/*@media only screen and (min-width: 1024px) {*/
    /*.article h1 {*/

        /*font-size: 26px;*/
        /*font-size: 2.6rem;*/

    /*}*/
/*}*/

@media only screen and (max-width: 500px) {
    .title-widgets .btn {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.9rem;
        min-width: 100px;
        width: auto;
    }
}

/* Progress bar */
#syncProgressBar {
    height: 11px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin-top: 4px;
}

progress::-webkit-progress-bar {
    background: #000000;
    border-radius: 50px;
    border: 1px solid #404040;
    padding: 2px;
    box-LEOcoin: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
    border-radius: 50px;
    box-LEOcoin: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -webkit-linear-gradient(left, #eda821, #ca8c21);

    background-size: 25px 14px, 100% 100%, 100% 100%;
    -webkit-animation: animateprogress 5s linear 0 infinite;
    animation: animateprogress 5s linear 0 infinite;
}

@-webkit-keyframes animateprogress {
    0% {
        background-position: 0px 0px, 0 0, 0 0
    }
    100% {
        background-position: -100px 0px, 0 0, 0 0
    }
}

#qrcode img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 3px solid white;
}

#qrcode-data {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.twin-input .second {
    margin-left: 0px
}

.modal {
    font-size: 1.2rem;
    font-size: 12px;
}

.form-row label:first-child {
    width: 200px;
}

.form-row .unit {
    width: 80px;
}

#verify-sign-message-modal .signature {
    width: calc(100% - 40px);
}

.amount{
    width: calc(100% - 86px) !important;
}


@media only screen and (min-width: 768px) {
    #verify-sign-message-modal .signature {
        width: 262px;
    }

    .amount{
        width: 215px !important;
    }
}
#quickview .view.bg-white{
    color: white;
    margin-top: 10px;
    font-size: 1.4rem;
    font-size: 14px;
    word-break: break-all;
}

/*#quickview .view.bg-white .contact-list .contact-info:hover{*/
    /*text-decoration: underline;*/
/*}*/

#quickview .view.bg-white .contact-list li{
    cursor: pointer;
}

.section h2{
    font-weight: 400;
}
